 .u-section-1 {
  background-image: url("images/IMG_20210320_1718321-Copy.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 347px;
  margin: 208px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 251px;
  min-width: 216px;
  margin: 24px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 155px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-family: Oswald, sans-serif;
    font-weight: 700;
  }

  .u-section-1 .u-text-2 {
    letter-spacing: 2px;
    font-size: 1.125rem;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-top: 180px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 338px;
    margin-top: 164px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
    min-height: 388px;
    margin-top: 177px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 79px;
    margin-right: 79px;
    margin-bottom: 40px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 222px;
}

.u-section-2 .u-group-1 {
  width: 455px;
  min-height: 166px;
  margin: 34px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 -137px;
  padding: 42px 236px 43px 235px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 375px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 422px;
    min-height: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-2 .u-group-1 {
    width: 405px;
    min-height: 316px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-group-1 {
    min-height: 326px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 518px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 940px;
  margin: 77px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  margin: 53px 89px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 271px;
  min-width: 236px;
  margin: 40px auto 0 139px;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-image-1 {
  background-image: url("images/XiaomiPOCOPHONEF13205x4283_000805.jpg");
  min-height: 384px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    min-height: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-3 .u-image-1 {
    min-height: 441px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 139px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    min-height: 278px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 946px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 927px;
  margin: 75px auto 60px 107px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/top7.jpg");
  min-height: 244px;
  background-position: 65.84% 0%;
  background-size: 110%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/Picture1.gif");
  min-height: 475px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/CanonEOS70D3705x2470_001746.jpg");
  min-height: 476px;
  background-position: 29.16% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/_DSF1429.jpg");
  min-height: 245px;
  background-position: 54.61% 100%;
  background-size: auto 115%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/ESTER1.jpg");
  min-height: 244px;
  background-position: 79.27% 71.86%;
}

.u-section-4 .u-image-6 {
  min-height: 475px;
  background-image: url("images/IMG_20180417_201645.png");
  background-size: auto 130%;
  background-position: 100% 77.36%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 764px;
    margin-left: 88px;
  }

  .u-section-4 .u-image-6 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 585px;
    margin-left: 67px;
  }

  .u-section-4 .u-image-2 {
    min-height: 479px;
  }

  .u-section-4 .u-image-3 {
    min-height: 479px;
  }

  .u-section-4 .u-image-4 {
    min-height: 244px;
  }

  .u-section-4 .u-image-6 {
    min-height: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 490px;
    margin-top: 72px;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 308px;
    margin-top: 69px;
    margin-left: 16px;
  }
}