 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1530px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 927px;
  margin: 75px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/top7.jpg");
  min-height: 240px;
  background-position: 65.84% 0%;
  background-size: 110%;
}

.u-section-1 .u-image-2 {
  background-image: url("images/file1125x1125_001353.png");
  min-height: 481px;
  background-position: 57.59% 66.64%;
  background-size: auto 115%;
}

.u-section-1 .u-image-3 {
  background-image: url("images/file6121x4081_0002122.png");
  min-height: 481px;
  background-position: 67.55% 0%;
  background-size: auto 115%;
}

.u-section-1 .u-image-4 {
  background-image: url("images/_DSF1429.jpg");
  min-height: 240px;
  background-position: 54.61% 100%;
  background-size: auto 115%;
}

.u-section-1 .u-image-5 {
  background-image: url("images/ESTER1.jpg");
  min-height: 240px;
  background-position: 79.27% 71.86%;
}

.u-section-1 .u-image-6 {
  min-height: 481px;
  background-image: url("images/IMG_20180417_201645.png");
  background-size: auto 130%;
  background-position: 100% 77.36%;
}

.u-section-1 .u-layout-wrap-2 {
  width: 927px;
  margin: 19px auto 34px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/1-Copy-21.jpg");
  min-height: 244px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-8 {
  background-image: url("images/Picture1.gif");
  min-height: 474px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-9 {
  background-image: url("images/CanonEOS70D3705x2470_001746.jpg");
  min-height: 476px;
  background-position: 29.16% 50%;
}

.u-section-1 .u-image-10 {
  background-image: url("images/1.jpg");
  min-height: 245px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-11 {
  background-image: url("images/1-Copy.jpg");
  min-height: 244px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-12 {
  min-height: 474px;
  background-image: url("images/top2.jpg");
  background-size: auto 170%;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 764px;
    margin-left: 88px;
  }

  .u-section-1 .u-image-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-image-2 {
    background-position: 54.31% 100%;
    background-size: auto 105%;
  }

  .u-section-1 .u-image-3 {
    background-position: 71.47% 0%;
  }

  .u-section-1 .u-image-4 {
    background-position: 51.82% 100%;
  }

  .u-section-1 .u-image-6 {
    background-position: 100% 81.58%;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 764px;
    margin-left: 88px;
  }

  .u-section-1 .u-image-7 {
    background-size: auto 110%;
  }

  .u-section-1 .u-image-9 {
    background-position: 26.73% 50%;
  }

  .u-section-1 .u-image-10 {
    background-position: 25.8% 100%;
  }

  .u-section-1 .u-image-12 {
    background-position: 50.12% 48.42%;
    background-size: auto 135%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 585px;
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 252px;
  }

  .u-section-1 .u-image-2 {
    min-height: 494px;
  }

  .u-section-1 .u-image-3 {
    min-height: 494px;
  }

  .u-section-1 .u-image-4 {
    min-height: 252px;
  }

  .u-section-1 .u-image-5 {
    min-height: 252px;
    background-position: 79.27% 45.17%;
  }

  .u-section-1 .u-image-6 {
    min-height: 688px;
    background-position: 100% 77.58%;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 585px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-7 {
    min-height: 242px;
    background-size: 110%;
  }

  .u-section-1 .u-image-9 {
    min-height: 474px;
  }

  .u-section-1 .u-image-10 {
    min-height: 242px;
    background-position: 87.11% 100%;
  }

  .u-section-1 .u-image-11 {
    min-height: 288px;
    background-position: 79.27% 50.27%;
  }

  .u-section-1 .u-image-12 {
    min-height: 661px;
    background-position: 52.26% 49.37%;
    background-size: auto 170%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4950px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 490px;
    margin-top: 145px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-1 {
    min-height: 318px;
    background-position: 55.64% 4.3%;
    background-size: 110%;
  }

  .u-section-1 .u-image-2 {
    min-height: 479px;
    background-position: 61.6% 60.66%;
    background-size: 140%;
  }

  .u-section-1 .u-image-3 {
    min-height: 479px;
    background-position: 64.58% 0%;
  }

  .u-section-1 .u-image-4 {
    min-height: 326px;
    background-position: 50.46% 82.08%;
  }

  .u-section-1 .u-image-5 {
    min-height: 244px;
  }

  .u-section-1 .u-image-6 {
    min-height: 588px;
    background-position: 100% 73.37%;
    background-size: 110%;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 490px;
    margin-top: 21px;
  }

  .u-section-1 .u-image-7 {
    min-height: 318px;
    background-position: 55.64% 49.15%;
  }

  .u-section-1 .u-image-8 {
    min-height: 479px;
  }

  .u-section-1 .u-image-9 {
    min-height: 479px;
  }

  .u-section-1 .u-image-10 {
    min-height: 285px;
    background-position: 50.46% 26.67%;
  }

  .u-section-1 .u-image-11 {
    min-height: 280px;
  }

  .u-section-1 .u-image-12 {
    min-height: 514px;
    background-position: 53% 49.87%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4269px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 308px;
    margin-top: 126px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 216px;
  }

  .u-section-1 .u-image-2 {
    min-height: 335px;
    background-position: 54.78% 61.52%;
    background-size: auto 155%;
  }

  .u-section-1 .u-image-3 {
    min-height: 420px;
    background-position: 57.03% 0%;
  }

  .u-section-1 .u-image-4 {
    min-height: 243px;
  }

  .u-section-1 .u-image-5 {
    min-height: 243px;
  }

  .u-section-1 .u-image-6 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 308px;
    margin-top: 23px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-image-7 {
    min-height: 244px;
  }

  .u-section-1 .u-image-10 {
    min-height: 244px;
  }

  .u-section-1 .u-image-11 {
    min-height: 244px;
  }

  .u-section-1 .u-image-12 {
    min-height: 479px;
    background-position: 49.3% 49.21%;
    background-size: auto 145%;
  }
}